Debug
objDebug
/*.db
ipch
.vs
/S3Test/*.user
/*.opendb
objRelease
Release
lint
/ECSUtil/*.user
/S3Test/*.aps
Debug Lib
objDebug Lib
objRelease Lib
Release Lib
/ECSUtil/*.aps
/Debug Lib Static
/Release Lib Static
/objDebug Lib Static
/objRelease Lib Static
/*.gz
/*.zip
/ECSUtil/..v-int
/ECSUtil/msbuild.log
